{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier un utilisateur
{% endblock %}

{% block pageTitle %}Modifier un Administrateur
{% endblock %}

{% block content %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card">

						{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
						{{ form_row(form._token) }}
						<form id="registerForm" action="" method="post">
							<div class="card-content">
								<div class="row">

									<div class="col-lg-6">
										<div class="form-group {% if form_errors(form.email) %}has-error{% endif %}">
											<label class="control-label">
												Adresse E-Mail
												<star>*</star>
											</label>
											{{ form_row(form.email) }}
										</div>
										<div class="form-group {% if form_errors(form.firstName) %}has-error{% endif %}">
											<label class="control-label">
												Prénom
												<star>*</star>
											</label>
											{{ form_row(form.firstName) }}
										</div>
										<div class="form-group {% if form_errors(form.lastName) %}has-error{% endif %}">
											<label class="control-label">
												Nom
												<star>*</star>
											</label>
											{{ form_row(form.lastName) }}
										</div>
										<div class="form-group {% if form_errors(form.Roles) %}has-error{% endif %}">
											<label class="control-label">
												Role
												<star>*</star>
											</label>
											{{ form_row(form.Roles) }}
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group col-lg-12 {% if form_errors(form.imageFile) %}has-error{% endif %}">
											<label class="control-label">
												Image de couverture actuelle:
											</label>
										</div>
										<div class="form-group col-lg-12">
											{% if user.imageName %}
												<img id="imgPreview" src="{{ vich_uploader_asset(user, 'imageFile') }}" class="profile-photo" alt="Photo">
											{% else %}
												<img id="imgPreview" src="{{ asset('build/face.png') }}" class="profile-photo" alt="Photo">
											{% endif %}
											{{ form_row(form.imageFile) }}
										</div>
									</div>
								</div>
							</div>

							<div class="category">
								<star>*</star>
								Champs obligatoires</div>
							<div class="card-footer">
								<a class="btn btn-danger btn-fill pull-right" href="{{ path('app_user_index') }}" style="margin-left: 1rem;">Annuler</a>
								<button class="btn btn-info btn-fill pull-right">{{ button_label|default('Enregistrer') }}</button>
								<div class="clearfix"></div>
							</div>
						</div>
					</form>
					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}

