{% extends 'admin/admin_base.html.twig' %}

{% block title %}Gestion des utilisateurs de l'admin{% endblock %}

{% block pageTitle %}Utilisateurs{% endblock %}

{% block content %}
 <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="toolbar">
                                <!--Here you can write extra buttons/actions for the toolbar-->
                                <a class="btn btn-primary btn-fill btn-wd" href="{{ path('app_user_new') }}">Créer un utilisateur</a>
                            </div>
                            <table id="adminUsers-table" class="table">
                                <thead>
                                    <th>#</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>E-Mail</th>
                                    <th>Création</th>
                                    <th>Modifié le</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ user.firstName }}</td>
                                    <td>{{ user.lastName }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.createdAt ? user.createdAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                                    <td>{{ user.updatedAt ? user.updatedAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                                    <td>
                                        <div>
                                                <a rel="tooltip" title="Modifier" class="btn btn-simple btn-warning btn-icon" href="{{ path('app_user_edit', {'uid': user.uid}) }}">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                                <form style="display: inline-block;" method="post" action="{{ path('app_user_delete', {'uid': user.uid}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet utilisateur?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.uid) }}">
                                                    <button rel="tooltip" title="Supprimer" class="btn btn-simple btn-danger btn-icon"><i class="ti-close"></i></button>
                                                </form>
                                        </div>
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Pas d'utilisateurs</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock %}
