<div class="site-section bg-teal">
    <div class="container">
        
        {% for dep in departements %}
            <div class="row text-left mb-5">
                <div class="col-md-12">
                    <h2 class="text-red text-cursive text-left">{{ dep.name }}</h3>
                </div>
            </div>
            <div class="row align-items-stretch">
                {% for member in dep.members %}
                    <div class="col-lg-4 col-md-6 mb-5">
                        <div class="post-entry-1 h-100 person-1 red">
                            {% if member.imageName %}
                                <img src="{{ vich_uploader_asset(member, 'image_file') }}" alt="Image" class="img-fluid">
                            {% else %}
                                <img src="{{ asset('build/no-photo.jpg') }}" alt="Image" class="img-fluid">
                            {% endif %}
                            <div class="post-entry-1-contents">
                                <span class="meta">{{ member.fonction.name }} {% for section in member.section %}{{ section.fullName }}{% endfor %}</span>
                                <h2>{{ member.fonction.name == 'Directrice' ? member.fullName : member.firstName }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        
    </div>
</div>