{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('build/hero_1.jpg') }}')">
    <div class="container">
        <div class="row align-items-center ">

        <div class="col-md-5 mt-5 pt-5">
            <span class="text-cursive h5 text-red">Notre école</span>
            <h1 class="mb-3 font-weight-bold text-teal">{{ page.title }}</h1>
            <p>
                <a href="{{ path('app_home') }}" class="text-white">Accueil</a>
                    {% if page.parentMenu.pages|length > 1 %} 
                        <span class="mx-3">/</span> <strong>{{ page.parentMenu.name }}</strong>
                    {% endif %} 
                <span class="mx-3">/</span> <strong>{{ page.title }}</strong></p>
        </div>
        
        </div>
    </div>
    </div>
</div>

{% for article in page.articles %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ vich_uploader_asset(article, 'image_file')}}" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 ml-auto pl-md-5">
                    <span class="text-cursive h3 text-red">{{ article.title }}</span>
                    <p>{{ article.text|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Noting more to say
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}


