{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('build/hero_1.jpg') }}')">
    <div class="container">
        <div class="row align-items-center ">

        <div class="col-md-5 mt-5 pt-5">
            <span class="text-cursive h5 text-red">Notre école</span>
            <h1 class="mb-3 font-weight-bold text-teal">{{ page.title }}</h1>
            <p>
                <a href="{{ path('app_home') }}" class="text-white">Accueil</a>
                    {% if page.parentMenu.pages|length > 1 %} 
                        <span class="mx-3">/</span> <strong>{{ page.parentMenu.name }}</strong>
                    {% endif %} 
                <span class="mx-3">/</span> <strong>{{ page.title }}</strong></p>
        </div>
        
        </div>
    </div>
    </div>
</div>

{% for article in page.articles %}
    <div class="site-section article {{ article.backgroundColor}}">
        <div class="container">
            <div class="row">
                {% if article.imageName %}
                    {% if article.imagePosition == 'left' %}
                        <div class="col-md-12 left-article">
                            <img src="{{ vich_uploader_asset(article, 'image_file')}}" alt="Image" class="img-fluid">
                            <span class="text-cursive h3 text-red">{{ article.title }}</span>
                            <p>{{ article.text|raw }}</p>
                        </div>
                    {% else %}
                        <div class="col-md-12 right-article ml-auto pl-md-5">
                            <img src="{{ vich_uploader_asset(article, 'image_file')}}" alt="Image" class="img-fluid">
                            <span class="text-cursive h3 text-red">{{ article.title }}</span>
                            <p>{{ article.text|raw }}</p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-12 ml-auto pl-md-5">
                        <span class="text-cursive h3 text-red">{{ article.title }}</span>
                        <p>{{ article.text|raw }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
{% endfor %}

{% if page.slug == 'equipe-educative' %}
    {{ include('front_page/_team.html.twig') }}
{% endif %}

{% if page.bulletLists is not empty %}
    <div class="site-section bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="accordion" id="accordionExample">
                    {% for list in page.bulletLists %}
                        {% for bullet in list.bullets %}
                            <div class="card">
                                <div class="card-header" id="heading{{ bullet.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ bullet.id }}" aria-expanded="false" aria-controls="collapse{{ bullet.id }}">
                                        {{ bullet.number }}. {{ bullet.title }}
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ bullet.id }}" class="collapse" aria-labelledby="heading{{ bullet.id }}" data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{ bullet.text|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}  
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}


