{% extends 'base.html.twig' %}

{% block title %}MenuEntry index{% endblock %}

{% block body %}
    <h1>MenuEntry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_entry in menu_entries %}
            <tr>
                <td>{{ menu_entry.id }}</td>
                <td>{{ menu_entry.name }}</td>
                <td>{{ menu_entry.slug }}</td>
                <td>{{ menu_entry.createdAt ? menu_entry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu_entry.updatedAt ? menu_entry.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_menu_entry_show', {'id': menu_entry.id}) }}">show</a>
                    <a href="{{ path('app_menu_entry_edit', {'id': menu_entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_entry_new') }}">Create new</a>
{% endblock %}
