<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<title>Collège du Biéreau |
			{% block title %}{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center justify-content-center">
            <div class="site-quick-contact d-none d-lg-flex">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>2 Rue du Collège, 1348 Ottignies-Louvain-La-Neuve</span>
              </div>
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-phone"></span></span>
                <span>+32 (0)10 45 03 06</span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-envelope-o text-success"></span></span>
                <span>direction@collegedubiereau.be</span>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
            <a class="nav-logo" href="{{ path('app_home') }}">
              <img src="{{ asset('build/logo-biereau.png') }}" alt="Logo Biéreau">
            </a>

              <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      L'école
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Présentation</a>
                      <a class="dropdown-item" href="#">Projet éducatif</a>
                      <a class="dropdown-item" href="#">Plan de pilotage</a>
                      <a class="dropdown-item" href="#">Règlement des études</a>
                      <a class="dropdown-item" href="#">Règlement d'ordre intérieur</a>
                      <a class="dropdown-item" href="#">"Vivre ensemble" de l'école primaire</a>
                      <a class="dropdown-item" href="#">Charte Internet</a>
                    </div>
                  </li>
                  <li><a href="{{ path('app_infos_pratiques') }}" class="nav-link">Infos pratiques</a></li>
                  <li><a href="about.html" class="nav-link">L'équipe</a></li>
                  <li><a href="packages.html" class="nav-link">Agenda</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Collaborations
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Association des parents</a>
                      <a class="dropdown-item" href="#">Comité des fêtes</a>
                      <a class="dropdown-item" href="#">Conseil de participation</a>
                      <a class="dropdown-item" href="#">PMS</a>
                      <a class="dropdown-item" href="#">PSE</a>
                      <a class="dropdown-item" href="#">UCL et Kots à projets</a>
                      <a class="dropdown-item" href="#">SEGEC et FEDEFOC</a>
                    </div>
                  </li>
                  <li><a href="gallery.html" class="nav-link">Parascolaire</a></li>
                  
                </ul>
              </nav>

              <div class="top-social ml-auto">
                <a href="https://www.facebook.com/apbiereau" target="_blank" title="Page Facebook de l'association des parents"><span class="icon-facebook text-teal"></span></a>
              </div>
          </div>
        </div>
      </header>

      {% block content %}
      {% endblock %}

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <h2 class="footer-heading mb-4">Contact</h2>
               <ul class="list-unstyled contact">
                    <li><i class="fa-solid fa-phone"></i><span>+32 (0)10 45 03 06</span></li>
                    <li><a href="mailto:direction@collegedubiereau.be" target="_blank"><i class="fa-solid fa-envelope"></i><span>direction@collegedubiereau.be</span></a></li>
                    <li><i class="fa-solid fa-location-dot"></i><span>2 Rue du Collège, 1348 Ottignies-Louvain-La-Neuve</span></li>
                  </ul> 
            </div>    
            <div class="col-lg-6 ml-auto">
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="footer-heading mb-4">Navigation</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>                 
                </div>  
                <div class="col-lg-6">
                  <h2 class="footer-heading mb-4">Navigation</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>                 
                </div>     
              </div>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> Collège du Biéreau | Tous droits réservés | Site web réalisé avec <i class="icon-heart text-danger" aria-hidden="true"></i> par <a href="https://www.mywebcreation.be" target="_blank" ><img src="{{ asset('build/mwc-logo-color.png') }}" alt="My Web Creation" style="height: 2rem;"></a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>

    </div>

    <script src="{{ asset('assets/front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery-migrate-3.0.0.js') }}"></script>
    <script src="{{ asset('assets/front/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/aos.js') }}"></script>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

    <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
    <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
      document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({
        "notice_banner_type":"simple",
        "consent_type":"express",
        "palette":"light",
        "language":"fr",
        "page_load_consent_levels":["strictly-necessary"],
        "notice_banner_reject_button_hide":false,
        "preferences_center_close_button_hide":false,
        "page_refresh_confirmation_buttons":false,
        "website_name":"College du Biéreau"});
      });
      document.querySelector(".banner__close").addEventListener("click", function () {
        this.closest(".banner").style.display = "none";
      });
    </script>

	</body>
</html>

