<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="école, Biéreau, collège, maternelle, primaire, fondamentale, louvain-la-neuve, segec, élèves, verdure, nature, valeurs"> 
		<meta name="description" content="Le collège du Biéreau est une école fondamentale maternelle et primaire au coeur de  la ville de Louvain-La-Neuve. Elle se compose d'une équipe dynamique et à l'écoute avec une guidance bâtie sur de vraies valeurs et un projet pédagogique ambitieux.">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/site.webmanifest') }}">
		<link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<title>Collège du Biéreau |
			{% block title %}{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center justify-content-center">
            <div class="site-quick-contact d-none d-lg-flex">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>2 Rue du Collège, 1348 Ottignies-Louvain-La-Neuve</span>
              </div>
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-phone"></span></span>
                <span>+32 (0)10 45 03 06</span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-envelope-o text-success"></span></span>
                <span>direction@collegedubiereau.be</span>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
            <a class="nav-logo" href="{{ path('app_home') }}">
              <img src="{{ asset('build/logo-biereau.png') }}" alt="Logo Biéreau">
            </a>

            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto">
                {% for menuItem in menus.navigationMenu %}
                  <!-- Si le menu contient des sous-menus -->
                  {% if menuItem.pages|length > 1 %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        {{ menuItem.name }}
                      </a>
                      <div class="dropdown-menu">
                        {% for page in menuItem.pages %}
                          <a class="dropdown-item {% if page.published == false %}disabled{% endif %}" href="{{ path('app_front_subpage', {'menu_slug': menuItem.slug, 'page_slug': page.slug }) }}">{{ page.title }}</a>
                        {% endfor %}
                      </div>
                    </li>
                  <!-- Si le menu mène directement à une page -->
                  {% else %}
                      <li>
                        <!-- Si le menu a bien une page répertoriée afin d'éviter une erreur -->
                        {% if menuItem.pages is not empty %}
                          <a href="{{ path('app_front_mainpage', {'page_slug': menuItem.slug }) }}" class="nav-link">{{ menuItem.name }}</a>
                        <!-- Sinon on affiche un lien vide -->
                        {% else %}
                          <a href="#" class="nav-link">{{ menuItem.name }}</a>
                        {% endif %}
                      </li>
                  {% endif %}
                {% else %}
                  <li><a href="#" class="nav-link">Error in Menu Items</a></li>
                {% endfor %}
              </ul>
            </nav>

              <div class="top-social">
                <a href="https://www.facebook.com/apbiereau" target="_blank" title="Page Facebook de l'association des parents"><span class="icon-facebook text-teal"></span></a>
              </div>
          </div>
        </div>
      </header>

      {% block content %}
      {% endblock %}

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-4">
              <h2 class="footer-heading mb-4">Contact</h2>
               <ul class="list-unstyled contact">
                    <li><i class="fa-solid fa-phone"></i><span>+32 (0)10 45 03 06</span></li>
                    <li><a href="mailto:direction@collegedubiereau.be" target="_blank"><i class="fa-solid fa-envelope"></i><span>direction@collegedubiereau.be</span></a></li>
                    <li><i class="fa-solid fa-location-dot"></i><span>2 Rue du Collège, 1348 Ottignies-Louvain-La-Neuve</span></li>
                  </ul> 
            </div>    
            <div class="col-lg-6 ml-auto">
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="footer-heading mb-4">Navigation</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">L'école</a></li>
                    <li><a href="#">Infos pratiques</a></li>
                    <li><a href="#">L'équipe</a></li>
                    <li><a href="#">Agenda</a></li>
                    <li><a href="#">Parascolaire</a></li>
                  </ul>                 
                </div>  
                <div class="col-lg-6">
                  <h2 class="footer-heading mb-4">Partenaires</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">AP School</a></li>
                    <li><a href="#">Association des parents</a></li>
                    <li><a href="#">Comité des fêtes</a></li>
                    <li><a href="#">PMS</a></li>
                    <li><a href="#">PSE</a></li>
                  </ul>                 
                </div>     
              </div>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> Collège du Biéreau | Tous droits réservés | Site web réalisé avec <i class="icon-heart text-danger" aria-hidden="true"></i> par <a href="https://www.mywebcreation.be" target="_blank" ><img src="{{ asset('build/mwc-logo-color.png') }}" alt="My Web Creation" style="height: 2rem;"></a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              </div>
            </div>

          </div>
        </div>
      </footer>

    </div>

    <script src="{{ asset('assets/front/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery-migrate-3.0.0.js') }}"></script>
    <script src="{{ asset('assets/front/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.stellar.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('assets/front/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/aos.js') }}"></script>
    <script src="{{ asset('assets/front/js/main.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery-marquee.js') }}"></script>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
</html>

