{% extends 'admin/admin_base.html.twig' %}

{% block title %}Gestion des menus{% endblock %}

{% block pageTitle %}Menus et sous-menus{% endblock %}

{% block content %}
<!-- start: page -->
<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
        </div>

        <h2 class="card-title">Gestion des menus et sous-menus</h2>
    </header>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <a href="{{ path('app_menu_new') }}" class="btn btn-primary">Ajouter <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-0" id="datatable-editable">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Sous-Menus</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.title }}</td>
                    <td>{% for element in menu.submenus %}{{ element.title }} | {% else %} {% endfor %}</td>
                    <td>{{ menu.createdAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                    <td>{{ menu.updatedAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                    <td class="actions">
                        <a href="{{ path('app_menu_edit', {'id': menu.id}) }}" class="on-default edit-row" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                        <form style="display: inline-block;" method="post" action="{{ path('app_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet élément de Menu?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
							<button title="Supprimer" class="btn btn-sm delete-row">
							    <i class="far fa-trash-alt"></i>
							</button>
						</form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun menu</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
{% endblock %}
